# ─────────────────────────────────────
# Python cache files
# ─────────────────────────────────────
__pycache__/
*.py[cod]
*$py.class


smai/
venv/
.env

# ─────────────────────────────────────
# Project-specific folders
# ─────────────────────────────────────
data/

# ─────────────────────────────────────
# OS / Editor junk
# ─────────────────────────────────────
.DS_Store
Thumbs.db

# VS Code
.vscode/

# ─────────────────────────────────────
# Logs
# ─────────────────────────────────────
*.log

# ─────────────────────────────────────
# Python packaging
# ─────────────────────────────────────
build/
dist/
*.egg-info/